@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --sifrp-c-dark: #191813;
  --sifrp-c-faint: #c9c7b8;
  --sifrp-c-beige: #b5b3a4;
  --sifrp-c-tan: #444444;
  --sifrp-c-white: #ffffff;
  --sifrp-c-black: #000000;
  --sifrp-c-groove: #eeede0;
}

.theme-dark {
  --sifrp-c-dark: #c9c7b8;
  --sifrp-c-faint: #191813;
  --sifrp-c-beige: #444444;
  --sifrp-c-tan: #b5b3a4;
  --sifrp-c-white: #000000;
  --sifrp-c-black: #ffffff;
  --sifrp-c-groove: #11121f;
}

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: var(--sifrp-c-black);
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to sifrp sheets */
.sifrp .item-form {
  font-family: "Roboto", sans-serif;
}

.sifrp .flexrow {
  display: flex;
  flex-direction: row;
}

.sifrp .flexcol {
  display: flex;
  flex-direction: column;
}


.sifrp .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.sifrp .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.sifrp .sheet-header .header-fields {
  flex: 1;
}

.sifrp .tab {
  max-height: 380px;
}

/* Discreet horizontal separator */
.sifrp .separator {
  height: 1px;
  background: var(--sifrp-c-faint);
  margin: 8px 0;
  width: 100%;
}

/* Separator character span ( / ) */
.sifrp .sep {
  padding: 0 4px;
  margin: 0 2px;
  align-self: center;
}

/* Margin Top 5px */
.sifrp .mt-5 {
  margin-top: 5px;
}

/* Margin Botton 2px */
.sifrp .mb-2 {
  margin-bottom: 2px;
}

/* Margin Botton 5px */
.sifrp .mb-5 {
  margin-bottom: 5px;
}

/* Margin Right 5px */
.sifrp .mr-5 {
  margin-right: 5px;
}

/* Margin Left 5px */
.sifrp .ml-5 {
  margin-left: 5px;
}

/* Margin Left 2px */
.sifrp .ml-2 {
  margin-left: 2px;
}

/* Biography and Item Description editor */
.sifrp .editor {
  background: var(--sifrp-c-faint);
  margin-top: 2px;
}

/* Presentation in column within the tabs */
.sifrp .sheet-col {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

/* Borders for the central column, for presentation in 3 colums */
.sifrp .sheet-col.border-left-right {
  border-left: 1px solid var(--sifrp-c-faint);
  border-right: 1px solid var(--sifrp-c-faint);
}

/** Character Statistics and Details **/

/* Container for the header structure */
.sifrp .col-header-container {
  align-items: center;
  margin-bottom: 10px;
}

.sifrp .col-header-container .scores-header {
  flex: 1;
  text-align: center;
  margin: 0;
  padding: 4px 0;
  font-size: 18px;
  font-weight: bold;
}

/* Standard label, base format */
.sifrp .resource-label {
  font-weight: bold;
}

.sifrp .info-label {
  font-size: 12px;
}


/* Flexible label using margin-auto to create the variable space */
.sifrp .flex-grow-label {
  flex-grow: 1;
  padding-right: 5px; 
  flex-shrink: 0;
}

/* Fixed width for labels to ensure vertical alignment of inputs */
.sifrp .fixed-label {
  width: 65px;
  flex-shrink: 0;
}

/* Score Inputs (fixed sized) */
.sifrp .scores-box {
  width: 35px;     /* Prevent stretching inside flex containers and ensure fixed size for alignment */
  height: 30px;
  flex: 0 0 auto;
  text-align: center;
  color: var(--sifrp-c-dark);
  font-size: 12px;
  font-weight: bold;
  margin: 0 2px;
}

/* Style for disabled fields (Read-only) */
.sifrp .box-disabled {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid var(--sifrp-c-faint);
  color: var(--sifrp-c-tan);
}

/* Character information Inputs (taking remaining space with min-width constraint) */
.sifrp .info-input {
  flex: 1;
  min-width: 110px;
  height: 30px;
  color: var(--sifrp-c-dark);
  font-size: 14px;
}

/* Information Inputs (taking remaining space with min-width constraint) */
.sifrp .info-input-small {
  flex: 1;
  min-width: 40px;
  height: 30px;
  color: var(--sifrp-c-dark);
  font-size: 14px;
}


/* --- Qualities Lists --- */

.sifrp .qualities-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: var(--sifrp-c-tan);
}

.sifrp .qualities-list .qualities-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--sifrp-c-groove);
  font-weight: bold;
}

.sifrp .qualities-list .qualities-header > * {
  font-size: 12px;
  text-align: center;
}

.sifrp .qualities-list .qualities-header .qualities-elements {
  padding-left: 5px;
  text-align: left;
}

.sifrp .qualities-list .qualities-controls {
  flex: 0 0 15px;
  justify-content: flex-end;
  align-items: center;
  padding-left: 5px;
}
.sifrp .qualities-list .qualities-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 2px;
}

.sifrp .qualities-list .quality {
  align-items: stretch;
  padding: 0 2px;
}

/* --- Quality Fields (Name and Effect) --- */
.sifrp .qualities-list .quality .quality-name {
  flex: 1; 
  margin-right: 5px; 
  padding: 0;
}

.sifrp .qualities-list .quality .quality-effect {
  flex: 2; 
  padding: 0;
}

.sifrp .qualities-list .quality input,
.sifrp .qualities-list .quality textarea {
  color: var(--sifrp-c-dark);
  font-family: inherit;
  font-size: 13px;
  line-height: 1.2;
  vertical-align: top;
  min-height: 28px;
  height: 28px;
  width: 100%;
  box-sizing: border-box; 
  margin: 0; 
  padding: 3px;
  border: 1px solid var(--sifrp-c-faint);
  background: rgba(0, 0, 0, 0.05);
}

.sifrp .qualities-list .quality textarea {
  resize: vertical; 
  overflow: auto;
}

/** Character Abilities Tab **/

/* Abilities and Specialities */

/* Column to display the Abilities and Specialities */
.sifrp .abilities-col {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

/* Container for one Ability and associated Specialities */
.sifrp .ability-group {
  margin-bottom: 5px;
}

.sifrp .ability {
  margin-bottom: 2px;
}

.sifrp .speciality {
  margin-left: 40px;
}


.sifrp .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--sifrp-c-groove);
  font-weight: bold;
}
.sifrp .items-header > * {
  font-size: 14px;
  text-align: center;
}
.sifrp .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.sifrp .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: var(--sifrp-c-tan);
}
.sifrp .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sifrp .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.sifrp .items-list .item-name h3, .sifrp .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.sifrp .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.sifrp .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.sifrp .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid var(--sifrp-c-faint);
}
.sifrp .items-list .item:last-child {
  border-bottom: none;
}
.sifrp .items-list .item .item-name {
  color: var(--sifrp-c-dark);
}
.sifrp .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.sifrp .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.sifrp .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--sifrp-c-groove);
  font-weight: bold;
}
.sifrp .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.sifrp .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.sifrp .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.sifrp .effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--sifrp-c-groove);
  font-weight: bold;
}
.sifrp .effects-header > * {
  font-size: 14px;
  text-align: center;
}
.sifrp .effects-header .effect-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.sifrp .effects-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: var(--sifrp-c-tan);
}
.sifrp .effects-list .effect-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sifrp .effects-list .effect-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.sifrp .effects-list .effect-name h3, .sifrp .effects-list .effect-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.sifrp .effects-list .effect-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.sifrp .effects-list .effect-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.sifrp .effects-list .effect {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid var(--sifrp-c-faint);
}
.sifrp .effects-list .effect:last-child {
  border-bottom: none;
}
.sifrp .effects-list .effect .effect-name {
  color: var(--sifrp-c-dark);
}
.sifrp .effects-list .effect .effect-name .effect-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.sifrp .effects-list .effect-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.sifrp .effects-list .effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove var(--sifrp-c-groove);
  font-weight: bold;
}
.sifrp .effects-list .effects-header > * {
  font-size: 12px;
  text-align: center;
}
.sifrp .effects-list .effects-header .effect-name {
  padding-left: 5px;
  text-align: left;
}
.sifrp .effect-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.sifrp .effects .item .effect-source,
.sifrp .effects .item .effect-duration,
.sifrp .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.sifrp .effects .item .effect-controls {
  border: none;
}


/* Dialog Sheet */
.sifrp .dialog-container {
  display: flex;
  flex-direction: column;
}

.sifrp .dialog-group {
  display:flex;
  flex-direction: row;
  margin-bottom: 2px;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.sifrp .dialog-footer {
  display:flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-evenly;
}

.sifrp .mod-box {
  width: 35px;     /* Prevent stretching inside flex containers and ensure fixed size for alignment */
  height: 35px;
  flex: 0 0 auto;
  text-align: center;
  margin: 0 2px;
}